#map {
    height: 35%;
}
#rating-chart div {
    font: 10px sans-serif;
    /*background-color: steelblue;*/
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
#rating-label {
    font: 13px sans-serif;
    line-height: 19px;
    margin-left: 15px;
}
.inline-block-paragraph {
    display: inline-block;
    width: 50px;
    height: 75px;
    font: 10px sans-serif;
    vertical-align: top;
}
#center-jumbo {
  margin-top: 20px;
  padding-top: 30px; 
  padding-bottom: 30px;
}
.vertical-align {
  display: flex;
  align-items: center;
}
#yellow-star {
  color: #fdbf13;
}
#gray-star {
  color: #D3D3D3;
}
#review-photo {
  padding-top: 5px;
}