<head>
    <link href="/static/magicsuggest/magicsuggest-min.css" rel="stylesheet">
    <style type="text/css">
        .bd-example-modal-lg .modal-dialog{
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(50% - 24px);
        }
        .fa-spinner {
            color: #fdbf13;
        }
    </style>
</head>

{% extends 'base.html' %}
{% block content %}


<h3>Add a rating for {{ name }}:</h3>
    <form action="/add-review" id="review-form" enctype=multipart/form-data method="POST">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            Food:
                            <select name="food-score" id="food-score"required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col">
                            Service:
                            <select name="service-score" id="service-score" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col">
                            Price:
                            <select name="price-score" id="price-score" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            Dishes: 
                            <div id="ms-data-ajax"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            Review:<br>
                            <textarea rows="4" cols="50" name="food-comment" id="food-comment" required></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            Photos:
                            <input type="file" name="file" accept="image/*" id="photos" multiple>
                        </div>
                    </div>
                </div>
            </div>
        <input type="hidden" name="service-comment" id="service-comment" value="n/a"><br>
            
        <input type="hidden" name="price-comment" id="price-comment" value="n/a">
        <input type="hidden" name="restaurant" id="restaurant" value={{ restaurant_id }}>
        <input type="hidden" name="user-id" id="user-id" value="{{ session.get("user_id") }}">
        <br>
        <input type="submit" value="Add review">
    </form>
    </div>
<br>
<a href="/restaurant/{{ restaurant_id }}" class="btn btn-link">Back</a>

<div class="modal fade" id="spinnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p><i class="fas fa-spinner fa-spin fa-5x"></i></p>
        <span class="lead text-muted">Adding review</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/magicsuggest/magicsuggest-min.js"></script>

<script type="text/javascript" src="static/js/add-review.js"></script>

{% endblock %}