{% extends 'base.html' %}
{% block content %}

<h3>Add a rating for {{ name }}:</h3>
    <form action="/add-review" method="POST">
        <h4>Food</h4>
            Score:
            <select name="food-score" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <br>
        Dish name:
            <input type="text" name="dish-name"><br>
        Review:<br>
            <textarea rows="4" cols="50" name="food-comment"></textarea><br>
        <h4>Service:</h4>
            Score:
            <select name="service-score" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <br>
        Comment:<br>
            <textarea rows="4" cols="50" name="service-comment"></textarea><br>
        <h4>Price</h4>
            Score:
            <select name="price-score" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <br>
        Comment:<br>
            <textarea rows="4" cols="50" name="price-comment"></textarea>
        <input type="hidden" name="restaurant" value={{ restaurant_id }}>
        <br><br>
        <input type="submit" value="Add review">
    </form>

{% endblock %}