<!DOCTYPE html>
<html>
<head>
    <title>RevA</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <a href="/">Food Reviews</a> |

    {% if session.get("user_id") %}
        <a href="/logout">Log Out</a> 
    {% else %}
        <a href="/login-form">Log In</a>
    {% endif %} 
    {% if session.get("user_id") %}
        | <a href="/user-profile">My Profile</a>
    {% endif %}
    
<!--     | <a href="/add-new">Add new user</a> -->
    <hr>

    {% for message in get_flashed_messages() %}
        <h2> <font color="red"> {{ message }} </font></h2>
    {% endfor %}
    


    {% block content %} Things {% endblock %}



</body>
</html>