<!DOCTYPE html>
<html>
<head>
    <title>RevA</title>
</head>
<body>
    <a href="/">Food Reviews</a> |

    {% for message in get_flashed_messages() %}
        <h2> <font color="red"> {{ message }} </font></h2>
    {% endfor %}
    
<!--     {% if session.get("user_id") %}
        <a href="/logout-form">Log Out</a> 
    {% else %}
        <a href="/login-form">Log In</a>
    {% endif %} 
    
    | <a href="/add-new">Add new user</a>
    <hr> -->

    {% block content %} Things {% endblock %}



</body>
</html>