{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <h1>Restaurants with reviews matching "{{ dish.name }}"</h1>

    {% for result in results %}
    <div class="row my-4">
        <div class="col-4">
            <a href="/restaurant/{{ result[1].restaurant_id }}"><h5 class="my-0">{{ result[1].name }}</h5></a>
            Rating for {{ dish.name }} reviews: {{ result[0]}}
        </div>
        <div class="col my-auto">
            <form action="/dish-reviews/{{ dish.dish_id }}/{{ result[1].restaurant_id }}">
                <input type="submit" class="btn btn-outline-secondary"value="Read reviews">
            </form>
        </div>
    </div>
            
    {% endfor %}

</div>

{% endblock %}