{% extends 'base.html' %}
{% block content %}
<h2>Dishes found matching "{{ search_dish }}":</h2>

<div class="container-fluid">
    {% if dishes %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {% for dish in dishes %}
                <li class="list-group-item"><a href="/dish-details/{{ dish.dish_id }}/{{ location }}">{{ dish.name}}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% else %}
    <p>No matching dishes found</p>
    {% endif %}
</div>


<!-- {% for dish in dishes %}
<p>
    {{ dish.name }}</a>
</p>
{% endfor %} -->


{% endblock %}