<head>
    <style>
      #map {
        height: 50%;
      }
    </style>
</head>

{% extends 'base.html' %}
{% block content %}

<h2>{{ restaurant.name }} <i class="far fa-heart"></i></h2>
<p>
    Address: {{ restaurant.address }}<br>
    Reviews: {{ restaurant.count_reviews }}<br>
    Overall rating: {{ restaurant.reva_rating }}
</p>

<div id="map"></div>

<h3>Reviews</h3>

{% if session.get("user_id") %}
    <form action="/review-form">
        <input type="hidden" name="restaurant-name" value="{{ restaurant.name }}">
        <input type="hidden" name="restaurant-id" value="{{ restaurant.restaurant_id }}">
        <input type="submit" value="Add a rating">
    </form>
{% endif %}

<form action="/restaurant-dish-search">
    Search for a dish:
    <input type="text" name="dish-search">
    <input type="hidden" name="restaurant-id" value="{{ restaurant.restaurant_id }}">
    <input type="submit" value="Search">
</form>

{% for review in restaurant.reviews %}
    <p>
        Name: <a href="/user/{{ review.user.user_id }}">{{ review.user.fname }} {{ review.user.lname }}</a><br>
        Food score: {{ review.food_score }} <br>
        Service score: {{ review.service_score }} <br>
        Price score: {{ review.price_score }} <br>
    </p>
{% endfor %}
    

<script>
    var map;
    function initMap() {

        var myLatlng = new google.maps.LatLng('{{ restaurant.lat }}', '{{ restaurant.lon }}');
        
        var mapOptions = {
          zoom: 15,
          center: myLatlng
        }

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"Hello World!"
        });
        marker.setMap(map);
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
    async defer>
</script>

{% endblock %}