<head>
    <style>
      .fa-star {
        color: #fdbf13;
      }
      #review-photo {
        padding-top: 5px;
      }
    </style>
</head>

{% extends 'base.html' %}
{% block content %}
<!-- <div class="container"> -->
  <h2 class="display-4">{{ user.fname }} {{ user.lname }}</h2>
<!-- </div> -->

<div class="jumbotron">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
      <img src="{{ user.icon }}" height="200">
    </div>
    <div class="col-md-2">
      Zipcode: {{ user.zipcode }} <br>
      Reviews: {{ user.reviews | length }}<br>
    </div>
    <div class="col">
      Favorites:
      <div class="row">
        {% for favorite in user.favorites %}
          <div class="col-md-6">
            <li><a href="/restaurant/{{ favorite.restaurant.restaurant_id }}">{{ favorite.restaurant.name }}</a></li>
          </div>
        {% endfor %}
        {% if not user.favorites %}
         <li> None</li>
      {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="container-fluid">
  <div class="card-columns">
    {% for review in user.reviews %}
      <div class="card">
        <div class="card-header">
          <a href="/restaurant/{{ review.restaurant_id }}">
                {{ review.restaurant.name }}</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Food</h5>
                <p class="card-text">
                  Score: {{ review.food_score }} <br>
                  Comment: {{ review.food_comment }} 
                </p>
            <h5 class="card-title">Service</h5>
                <p class="card-text">  
                  Score: {{ review.service_score }} <br>
                  Comment: {{ review.service_comment }}
                </p>
            <h5 class="card-title">Price</h5>
                <p class="card-text"> 
                  Score: {{ review.price_score }} <br>
                  Comment: {{ review.price_comment }}
                </p>
        </div>
      </div>
{% endfor %}
</div>
</div> -->

<div class="container-fluid">
  <div class="card-columns">
    {% for review in user.reviews %}
      <div class="card">
        <div class="card-header">
          <a href="/restaurant/{{ review.restaurant_id }}">{{ review.restaurant.name }}</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Food
              {% for n in range(review.food_score) %}
                <i class="fas fa-star"></i>
              {% endfor %}
            </h5>
            <p class="card-text">
              {{ review.food_comment }} 
            </p>
            <h5 class="card-title">Service
              {% for n in range(review.service_score) %}
                <i class="fas fa-star"></i>
              {% endfor %}
            </h5>
            <p class="card-text">  
              {{ review.service_comment }}
            </p>
            <h5 class="card-title">Price
              {% for n in range(review.price_score) %}
                <i class="fas fa-star"></i>
              {% endfor %}
            </h5>
            <p class="card-text"> 
              {{ review.price_comment }}
            </p>
            <div class="row">
            {% for photo in review.photos %}
                <a href="{{ photo.url }}" data-toggle="lightbox" data-max-height="400" data-gallery="example-gallery" class="col-sm-4 text-center">
                  <img src="{{ photo.url }}" height="80" id="review-photo">
                </a>
            {% endfor %}
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>


{% endblock %}