{% extends 'base.html' %}
{% block content %}

<h2>{{ user.fname }} {{ user.lname }}</h2>

<h4>Favorite restaurants:</h4>
{% for favorite in user.favorites %}
<p>
    <a href="/restaurant/{{ favorite.restaurant.restaurant_id }}">{{ favorite.restaurant.name }}</a>
</p>
{% endfor %}


<h4>Reviews:</h4>

{% for review in user.reviews %}
    <p>
        Restaurant:
        <a href="/restaurant/{{ review.restaurant_id }}">
            {{ review.restaurant.name }}</a><br>
        Food score: {{ review.food_score }} <br>
        Service score: {{ review.service_score }} <br>
        Price score: {{ review.price_score }} <br>
    </p>
{% endfor %}

{% if not user.reviews %}
<h5>No reviews written</h5>
{% endif %}

{% endblock %}